<div class="container">
  <%= link_to t('.create_invite'), new_invite_path, class: "btn btn-primary pull-right" %>
  <h2>People around:</h1>
  <%= render partial: "invite", collection: @invites %>
</div>
